@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@400;700&display=swap');

* {
  margin: 0;
}

body {
  font-family: 'League Spartan', sans-serif;
  color: #FFF;
  background: #070724;
}

h1, h2 {
  font-family: 'Antonio', sans-serif;
  text-transform: uppercase;
  line-height: normal;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
}

h1 {
  font-size: 80px;
  margin-bottom: 20px;
}

h2 {
  font-size: 40px;
  letter-spacing: -1.5px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 40px;
    text-align: center;
  }

  body {
    text-align: center;
  }
}