@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@400;700&display=swap');

* {
  margin: 0;
}

body {
  font-family: 'League Spartan', sans-serif;
  color: #FFF;
  background: #070724;
}

h1, h2 {
  font-family: 'Antonio', sans-serif;
  text-transform: uppercase;
  line-height: normal;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 80px;
  margin-bottom: 20px;
}

h2 {
  color: #FFF;
  font-family: 'Antonio', sans-serif;
  font-size: 40px;
  letter-spacing: -1.5px;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
}

nav ul {
  list-style: none;
  display: flex;
  gap: 33px;
  font-family: 'League Spartan', sans-serif;
  color: #FFF;
  font-size: 11px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

nav ul li {
  cursor: pointer;
}

nav {
  margin: 33px 41px 27px 33px;
}

.title {
  margin: 22px 0px 27px 32px;
  color: #FFF;
  font-family: 'Antonio', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.05px;
  text-transform: uppercase;
}

section {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}

.planet-main-container {
  display: flex;
  justify-content: space-evenly;
}

.planet-img-container {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planet-img {
  max-width: 100%; 
  height: auto; 
}


.planet-info-container {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.planet-content {
  font-size: 14px;
  line-height: 25px;
}

.source {
  opacity: 0.5;
  font-size: 14px;
  line-height: 25px;
  margin: 24px 0 39px 0;
}

.wikipedia {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  text-decoration-line: underline;
}

.planet-topic-container {
  width: 350px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.planet-topic-number {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 208.333% */
  letter-spacing: 2.571px;
  text-transform: uppercase;
  opacity: 0.5;
  margin: 0 25px 0 28px;
}

.planet-topic {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 208.333% */
  letter-spacing: 2.571px;
  text-transform: uppercase;
}

.planet-facts-container {
  display: flex;
  justify-content: space-between;
  width: 1194px;
  margin: 50px auto 0 auto;
}

.planet-fact-box {
  width: 255px;
  height: 128px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.planet-fact-title {
  color: #FFF;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 227.273% */
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.5;
  margin-left: 23px;
}

.planet-fact {
  color: #FFF;
  font-family: 'Antonio', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.5px;
  text-transform: uppercase;
  margin-left: 23px;
}